<nav class="navbar navbar-expand-lg navbar-wm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#inicio">
      WIMING<span>SAS</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#servicios">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="#nosotros">Nosotros</a></li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger text-white px-3 ms-lg-2" href="#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
